# Created by venv; see https://docs.python.org/3/library/venv.html
recursos/

# Entorno virtual
env/
.venv/
venv/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
*.env

# # base de datos y sqlite
# *.db
# db.sqlite3


# Django
*.log
local_settings.py
tienda_videojuegos/db.sqlite3
db.sqlite3-journal
/media
/staticfiles



# Logs
*.log

# Screenshots
screenshots/

# Docs ignored
#leer.md
.opencode/
