{% extends 'base.html' %}
{% load static %}
<!-- index.html-->
{% block title %}Inicio - Tienda de Videojuegos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-body">Bienvenido a la Tienda de Videojuegos</h1>
    <p class="text-body">Encuentra los mejores videojuegos al mejor precio.</p>

    <img src="{% static 'img/logo.png' %}" alt="logo" class="img-fluid my-4">

    <div class="alert alert-primary">¡Bienvenido a nuestra tienda de videojuegos!</div>
    <div class="alert alert-warning">Recuerda revisar las restricciones de edad antes de comprar.</div>
    <div class="alert alert-danger">Algunos productos tienen stock limitado. apresurate!.</div>
</div>
{% endblock %}
